<template>
	<div>soy un componente de ejemplo</div>
</template>

<script>
	export default {
        props:{
            
        },
        data() {
        	return{
        		
        	};
        },
    }
</script>