<template>

    <b-container>
        <b-form class="m-3" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_token" v-model="csrfToken">

            <b-form-group label="Correo Electronico:">
                <b-form-input type="email" disable
                    name="email"
                    v-model="user.email" 
                    placeholder="Ingresar correo"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Nombre:">
                <b-form-input type="text" required
                    name="name"
                    v-model="user.name"
                    placeholder="Ingresa tu nombre"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Nueva Contraseña: (Solo si se desea modificar)">
                <b-form-input type="password" name="password"
                    placeholder="Ingresa una nueva contraseña"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Imagen de perfil: (Solo si se desea modificar)">
                <b-img :src="image" rounded="circle" width="60" height="60" alt="Imagen Actual" class="m-1"/>
                <b-form-file name="image" placeholder="Selecciona una nueva imagen"></b-form-file>
            </b-form-group>

            <b-button type="submit" variant="primary">Guardar Cambios</b-button>
     
        </b-form>

    </b-container>  

</template>

<script>
  export default {
    props:{
        user: Object,
        csrfToken: String
    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed:{
        image(){
            return `/users/${this.user.image}`;
        }
    } 
 
      
    
  }
</script>