<template>
    <b-img rounded="circle" blank width="10" height="10"  alt="status"
        :title="online ? 'Conectado' : 'Desconenctado'"
        :blank-color="online ? 'green' : 'gray'"/>
</template>

<script> 
    export default {
        props:{
            online: Boolean
        }
    }
</script>